/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}
body {
  background: rgb(0,0,40);
  background-color: rgb(0,0,40);
  /* Siemens Stone light 35%. White background makes index page unreadable (white links). */
}

/* ugly trick to use white background for normal slides */
.js body {
  background: rgb(0,0,40);
  background-color: rgb(0,0,40);
}

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

section {
  display: flex!important;
  flex-direction: column;
  align-items: left;
  text-align: left;
  height: 100%;
  margin: 1em 1em;
  overflow: hidden;
}

section.centered {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1, h2, h3, h4, h5, p, td, li {
  text-shadow: transparent 0px 0px;
  font-family: "Siemens Sans Global", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 0.9;
}

p, td, li {
  font-weight: 500;
}

h1 {
  font-size: 5em;
  letter-spacing: -0.05em;
  background: linear-gradient(90deg, rgb(0, 190, 220), rgb(0, 215, 160));
  -webkit-background-clip: text; /* clip the background to the text inside the tag*/
  background-clip: text;
  -webkit-text-fill-color: transparent; /* make the text transparent so the background shows through*/
  padding: 0 0 0.25em 0;
  margin: 0 0 0.25em 0;
}

h2 {
  font-size: 3em;
  letter-spacing: -0.05em;
  background: linear-gradient(90deg, rgb(0, 190, 220), rgb(0, 215, 160));
  -webkit-background-clip: text; /* clip the background to the text inside the tag*/
  background-clip: text;
  -webkit-text-fill-color: transparent; /* make the text transparent so the background shows through*/
  padding: 0 0 0.25em 0;
  margin: 0 0 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: -0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.25em;
  font-weight: 900;
}

p, li {
  line-height: 1.75rem;
  font-size: 1.2rem;
}

table {

}

th, tr {
  line-height: 4rem;
  padding: 0.75rem 0rem;
}
td {
  padding: 0.5rem 0.05rem;
  font-size: 1.25rem;
  text-align: left;
}

.slide_header{
  margin-bottom: 3rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

.items-stretch{
  align-items: stretch;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.grid-two-col-eq {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 4rem;
}

.grid-slide-container {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;    
  column-gap: 2rem;
  row-gap: 20px;
  grid-template-rows: 150px fit-content(60%) auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "text image"
    "ressources image"; 
}

.grid-slide-header {
  grid-area: header;
}
.grid-slide-text {
  grid-area: text;
}

.grid-slide-image {
  grid-area: image;
}

.grid-slide-ressources {
  grid-area: ressources;

  line-height: 1.75rem;
  font-weight: 500;
  
}

.grid-slide-ressources ol {
  margin-left: 30px;
  counter-reset: list;

  margin: 1rem;
  padding : 0.5rem;
  border: 2px solid rgb(0, 215, 160);
}

.grid-slide-ressources ol::before {
  content: 'Additional information';
  position: absolute;
  text-align: center;
  margin-top: -35px;
  margin-left: -10px;
  height: 10px;
  font-size: 1rem;
  color: rgb(0, 215, 160);
  background-color: white;
}



.grid-slide-ressources  ol > li {
  list-style: none;
  font-size: 0.8rem;
}
.grid-slide-ressources  ol > li:before {
  content: "[" counter(list) "] ";
  counter-increment: list;
}


.slide-background-card {
  background-color: #000028;
  position: absolute;
  top: 0px;
  right: 0;
  height: 80%;
  width: 45%;
  border-bottom-left-radius: 30px;
}

.definition {
  margin: 1rem;
  padding : 0.5rem;
  border: 2px solid rgb(0, 215, 160);
  line-height: 1.75rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.definition::before {
  content: '"';
  position: absolute;
  text-align: center;
  margin-top: -15px;
height: 10px;
  font-size: 3.5rem;
  color: rgb(0, 215, 160);
  background-color: white;
}

.warning {
  margin: 1rem;
  padding : 0.5rem;
  border: 2px solid rgb(255, 144, 0);
  line-height: 1.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
}

.warning::before {
  content: '!';
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-200%);
  margin-left: -30px;
  height: 10px;
  font-size: 4rem;
  color: rgb(255, 144, 0);
  background-color: white;
}

br {
  margin: 2rem;
}

ul {
  margin-top: 0.75rem;
  margin-left: 2rem;
}

li {
  margin: 0.25rem 0;
}

ol {
  list-style-type: decimal;
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

pre code tr td {
  line-height: 1.4rem;
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}
